<%- include ('../../partials/header.ejs');%>
<%- include('../../partials/navbar.ejs');%>

<div class="container">
<div class="card">

<card class="card-header"><h2>Cadastro de Artigo</h2></card>



<card class="card-body">
<form method="POST" action="/articles/save">
<input class="form-control" type="text" name="title" placeholder="Defina o titulo do artigo">
<br>
<textarea class="form-control"name="body" id="article" placeholder="Escreva o artigo aqui"></textarea>
<br>
<select class="form-control" name="category">

  <% categories.forEach(category=>{ %>

    <option value="<%= category.id %>"><%=category.title%></option>

  <%})%>
  
</select>
<br>
<button class="btn btn-success">Cadastrar</button>

</form>
</div>
</card>

</div>


<%-include('../../partials/footer.ejs');%>


<script src="/tinymce/tinymce.min.js">

</script>

<script>
  tinymce.init({
    selector:"#article",
    plugins:[
      'advlist autolink link image lists print preview hr searchplace worcount fullscreen insertdatetime media save table paste copy emoticons'
    ]
  })
</script>